.container {
    font-family: 'Helvetica Neue', sans-serif;
    display: flex;
    padding: 0 12.5vw;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contentText {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

.contentText p {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
}

.contentText h1 {
    font-weight: 700;
    font-size: 70px;
    background-image: url('/images/abstract-purple-blue-wave-background (2).png');
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}