.formContainer {
  font-family: "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 12.5vw;
  color: #ffffff;
  margin: 30px 0 150px;
}

.formContainerLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  width: 53%;
}

.formContainerLeft h2 {
  font-weight: 700;
  font-size: 50px;
  width: 100%;
  background-image: url("/images/abstract-purple-blue-wave-background (2).png");
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2.6vw;
}

.formGroupWrapper {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.formGroupWrapper > * {
  width: 50%;
}

.formWrapper {
  margin-bottom: 60px;
  width: 80%;
}

.formGroup {
  margin-bottom: 2.5vw;
  text-align: left;
  position: relative;
  min-height: 3.5em;
  padding-bottom: 20px;
  /* Резервуємо місце для помилок */
}

.label {
  color: #888;
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  left: 0px;
  transition: all 0.3s ease;
  pointer-events: none;
  margin-bottom: 25px;
}

.policyRef {
  text-decoration: underline;
  margin-left: 3px;
  color: rgba(232, 30, 221, 1);
}

.input {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #888;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  outline: none;
  line-height: 1.5;
  resize: none;
  min-height: 1.5em;
  height: auto;
  overflow: hidden;
}

.input::placeholder {
  color: transparent;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  display: none;
}

textarea.input:not(:empty) + .label {
  display: none;
}

.input:focus {
  border-bottom: 1px solid #fff;
}

.input:not(:placeholder-shown) {
  border-bottom: 1px solid #fff;
}

.checkboxGroup {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  position: relative;
  /* Резервуємо місце для помилки */
  gap: 0;
}

.checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #e81edd;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  margin-right: 8px;
}

.checkbox:checked {
  background-color: #e81edd;
  border-color: #e81edd;
  position: relative;
}

.checkbox:checked::after {
  content: "";
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 8px;
  height: 4px;
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
}

.checkboxLabel {
  color: #888;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
}

.messengerIcons {
  display: flex;
  width: 100%;
  margin-top: 30px;
  justify-content: space-between;
  padding-bottom: 20px;
  position: relative;
  /* Резервуємо місце для помилки */
}

.iconPara {
  font-size: 20px;
  color: #ffffff66;
}

.messengerLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7%;
  flex-direction: column;
  align-items: center;
  color: #ffffff66;
  background-color: #ffffff05;
  border-radius: 15px;
  backdrop-filter: blur(20px);
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s;
  width: 18.5%;
  aspect-ratio: 1/0.52;
}

.messengerLink img {
  width: 1.19vw;
}

.messengerLink:hover {
  transform: translateY(-3px);
}

.messengerLink.active {
  border: 1px solid #e81edd;
}

.messengerIcon {
  width: 25px;
}

.buttonWrapper {
  display: flex;
  gap: 15px;
  justify-content: start;
  align-items: center;
  margin-top: 40px;
}

.submitButton {
  line-height: 22px;
  font-weight: 400;
  font-size: 15px;
  padding: 25px 35px;
  border-radius: 100px;
  color: #fff;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: transparent;
  transition: 0.5s;
  border: 1px solid white;
  white-space: nowrap;
}

.submitButton:hover {
  background: linear-gradient(95.63deg, #c400b9 17.83%, #5d0058 159.96%);
  box-shadow: 0px 20px 40px rgba(196, 1, 185, 0.6);
  border: 1px solid rgba(196, 1, 185, 0.6);
}

.submitWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.notification {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #e71edc12;
  backdrop-filter: blur(20px);
  color: white;
  padding: 20px;
  border-radius: 25px;
  font-size: 16px;
}

.notificationIcon {
  width: 20px;
  height: 20px;
}

.resubmitButton {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
}

.resubmitButton img {
  width: 16px;
  height: 16px;
}

.inputError {
  border-bottom: 1px solid #ff4d4f !important;
}

.labelError {
  color: #ff4d4f;
}

.error {
  color: #ff4d4f;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  white-space: nowrap;
}

.checkboxGroup + .error {
  position: absolute;
  bottom: 0;
  left: 0;
}

.messengerIcons + .error {
  position: absolute;
  bottom: 0;
  left: 0;
}

.charLimitNotification {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #ff4d4f12;
  backdrop-filter: blur(20px);
  color: red;
  padding: 15px;
  border-radius: 20px;
  font-size: 14px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 300px;
  z-index: 1000;
}

.formContainerRight {
  display: flex;
  width: 40%;
  height: 100%;
  position: relative;
}

.spheraWrapper {
  width: 50%;
  height: auto;
  position: absolute;
  right: 0%;
}

@media screen and (min-aspect-ratio: 16/9) {
  .spheraWrapper {
    top: calc(0px + (1920px - 100vw) * 0);
  }
}

.sphereSmall,
.sphereMedium,
.sphereLarge {
  position: absolute;
}

.sphereSmall img,
.sphereMedium img,
.sphereLarge img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sphereLarge {
  width: 19.3vw;
  right: 4vw;
  top: 7vh;
}

.sphereMedium {
  width: 5.73vw;
  left: -12vw;
  top: 3vh;
}

.sphereSmall {
  width: 3vw;
  top: 30vh;
  right: 0vw;
}

.backgroundElipse {
  position: absolute;
  z-index: -1;
  width: 11.5vw;
  height: 11.5vw;
  background: rgba(232, 30, 221, 1);
  border-radius: 50%;
  top: 0;
  right: 0;
  filter: blur(120px);
  transform: translate(-50%, 70%);
}

@media (max-width: 1440px) {
  .formContainerLeft h2 {
    font-size: 30px;
  }

  .label {
    font-size: 14px;
    bottom: 15px;
  }

  .input {
    padding: 15px 0;
    font-size: 14px;
  }

  .iconPara {
    font-size: 14px;
  }
}

@media (max-width: 1150px) {
  .formContainer {
    padding: 0 20px;
  }
  .formContainerLeft {
    width: 60%;
  }
  .formContainerLeft h2 {
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 50px;
  }
  .formWrapper {
    width: 100%;
    margin-bottom: 35px;
  }
  .formGroupWrapper {
    flex-direction: column;
    gap: 0px;
  }
  .formGroupWrapper > * {
    width: 100%;
  }
  .formGroup {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    min-height: 2.5em;
  }
  .input {
    padding: 5px;
  }
  .label {
    padding: 0;
    margin: 0;
  }
  .formContainerRight {
    width: 40%;
    top: 100px;
  }
  .sphereLarge {
    width: 24vw;
    right: 5vw;
    top: 5vh;
  }

  .sphereMedium {
    width: 7.5vw;
    left: -16vw;
    top: 2vh;
  }

  .sphereSmall {
    width: 5vw;
    top: 17vh;
    right: 1vw;
  }

  .backgroundElipse {
    width: 15vw;
    height: 15vw;
    filter: blur(100px);
  }
  .messengerLink {
    padding: 10px 25px;
    font-size: 8px;
  }
  .messengerLink img {
    width: 17px;
    height: 17px;
  }
  .notification {
    width: 50vw;
  }
  .error {
    bottom: -10px;
  }
}
@media (max-width: 650px) {
  .formContainerLeft {
    width: 100%;
  }
  .formContainerRight {
    display: none;
  }
  .formContainerLeft h2 {
    margin-bottom: 40px;
  }
  .buttonWrapper {
    flex-direction: column;
    align-items: start;
    gap: 40px;
  }
  .notification {
    width: 100%;
  }
}
