.hero {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.blurCircles {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.circle {
    position: absolute;
    border-radius: 50%;
    background: rgba(232, 30, 221, 1);
}

.circle2 {
    width: 222.5px;
    height: 222.5px;
    top: 10%;
    left: -10%;
    filter: blur(140px);
    background: rgba(232, 30, 221, 0.6);
    box-shadow: 0 0 30px 3px rgba(232, 30, 221, 1);
}

.heroContent {
    font-family: 'Helvetica Neue', sans-serif;
    display: flex;
    padding: 0 12.5vw;
    min-height: 75vh;
    position: relative;
}

.contentLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

.contentLeft h1 {
    font-weight: 700;
    font-size: 70px;
    background-image: url('/images/abstract-purple-blue-wave-background (2).png');
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contentLeft p {
    font-weight: 400;
    font-size: 30px;
    color: #fff;
    margin-top: 30px;
    line-height: 40px;
}

.contentLeft span {
    color: #9f9fa6;
}

.contentLeft .btn {
    line-height: 22px;
    font-weight: 400;
    font-size: 15px;
    background-color: transparent;
    padding: 25px 35px;
    border-radius: 100px;
    color: #fff;
    margin-top: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
    border: 1px solid white;
    white-space: nowrap;
    transition: 0.5s;
}

.contentLeft .btn:hover {
    background: linear-gradient(95.63deg, #C400B9 17.83%, #5D0058 159.96%);
    box-shadow: 0px 20px 40px rgba(196, 1, 185, 0.6);
    border: 1px solid rgba(196, 1, 185, 0.6);
}

.contentRight {

    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.spheraWrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    max-width: 800px;
    max-height: 800px;
}

/* Загальні стилі для сфер */
.spheraFirst,
.spheraSecond,
.spheraThird,
.spheraFourth {
    position: absolute;
    object-fit: contain;
    z-index: 0;
}

/* Позиціонування сфер у відсотках відносно .spheraWrapper */
.spheraFirst {
    width: 5.75%;
    top: 60%;
    left: 30%;
}

.spheraSecond {
    width: 19.3%;
    top: 5%;
    right: 5%;
}

.spheraThird {
    width: 56%;
    top: 20%;
    right: 10%;
}

.spheraFourth {
    width: 8.75%;
    top: 50%;
    left: 22%;
}

.iconProgramming,
.iconSettings,
.iconOther {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.iconProgramming {
    top: 65%;
    left: 24%;
    width: 20%;
    height: 20%;
}

.iconSettings {
    top: 8%;
    left: 40%;
    width: 15%;
    height: 15%;
}

.iconOther {
    top: 30%;
    right: -10%;
    width: 18%;
    height: 18%;
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.iconProgramming img:not(.backgroundImage),
.iconSettings img:not(.backgroundImage),
.iconOther img:not(.backgroundImage) {
    position: relative;
    z-index: 1;
    width: 22px;
    height: auto;
}

.iconProgramming img:not(.backgroundImage) {
    margin-bottom: 5px;
    margin-left: 12.5px;
}

.iconSettings img:not(.backgroundImage) {
    margin-top: 10px;
}

.developCount {
    position: absolute;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.01);
    border: 1px solid rgba(231, 30, 220, 0.07);
    border-radius: 30px;
    backdrop-filter: blur(10px);
    /* padding: 1.3vw 1.82vw; */
    padding: 25px 35px;
    right: 0;
    bottom: 14%;
}

.developCount h1 {
    font-size: 70px;
    font-weight: 700;
    line-height: 60px;
    color: rgba(232, 30, 221, 1);
}

.developCount p {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.getOfferWrapper {
    position: absolute;
    display: flex;
    left: 6%;
    top: 30%;
}

.getOffer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.getOffer::before {
    content: '';
    position: absolute;
    inset: 0;
    padding: 2px;
    margin: -2px;
    border-radius: 50%;
    background: linear-gradient(180deg, #C400B9 0%, #5D0058 100%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: 1;
}

.getOffer p {
    align-items: center;
}

.getOffer img {
    width: 15px;
    height: 15px;
    margin-bottom: 5px;
}



@media (max-width: 480px) {
    .contentLeft h1 {
        font-size: 30px;
    }

    .contentLeft p {
        font-size: 16px;
    }

    .spheraWrapper {
        max-width: 250px;
        max-height: 250px;
    }

    .developCount h1 {
        font-size: 40px;
    }

    .developCount p {
        font-size: 14px;
    }

    .getOffer {
        width: 60px;
        height: 60px;
        font-size: 8px;
    }

    .getOffer img {
        width: 10px;
        height: 10px;
    }
}