.tellAboutUs {
    padding: 0px 12.5vw;
    margin-top: 150px;

}

.tellAboutUsTitleButton{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.tellAboutUsTitle p {
    color: #fff;
    size: 20px;
    font-weight: 100;
    margin-top: 20px;
    width: 55%;
    line-height: 30px;
}

.tellAboutUsTitle h2 {
    width: 55%;
    font-size: 70px;
    font-weight: 500;
    line-height: 80px;
    background-image: url('/images/abstract-purple-blue-wave-background (2).png');
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tellAboutUsSliderItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24vw;
    height: 39vh;
    border-radius: 38px;
    background: rgba(22, 22, 45, 1);
    padding: 30px 20px;
    color: #fff;
    margin-top: 70px;
}

.tellAboutUsSliderItem i {
    color: rgba(232, 30, 221, 1);
}

.tellAboutUsSliderItemFirst {
    display: flex;
    justify-content: space-between;

}

.tellAboutUsSliderItemFirst img {
    width: 9.1vw;
    height: auto;
}

.ItemPoint {
    display: flex;
    align-items: center;
    gap: 15px;
}

.ItemPointStar {
    display: flex;
}

.tellAboutUsSliderItemSecond {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 12.5%; */
}

.tellAboutUsSliderItem p {
    font-size: 15px;
    font-weight: 100;
    

}
.tellAboutUsSliderItemSecond p {
    line-height: 25px;
}
.tellAboutUsSliderItem h4 {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
}

.tellAboutUsSliderItemThird {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    /* margin-top: 6.25%; */
}

.swiperPagination {
    margin-top: 20px;
    text-align: center;
}

.swiperPagination :global(.swiper-pagination-bullet) {
    background: #fff;
    opacity: 1;
    width: 10px;
    height: 10px;
    position: relative;
}

.swiperPagination :global(.swiper-pagination-bullet-active)::before {
    content: '';
    position: absolute;
    inset: 0;
    padding: 1px;
    margin: -3px;
    border-radius: 50%;
    background: linear-gradient(180deg, #C400B9 0%, #5D0058 119.29%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
}

.swiperPagination :global(.swiper-pagination-bullet-active) {
    opacity: 1;
    background: linear-gradient(180deg, #C400B9 0%, #5D0058 119.29%);
}

.swiperPaginationBulletActive {
    opacity: 1;
}

.submitButton {
    line-height: 22px;
    font-weight: 400;
    font-size: 15px;
    padding: 25px 35px;
    border-radius: 100px;
    color: #fff;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: transparent;
    transition: 0.5s;
    border: 1px solid white;
    white-space: nowrap;
}

.submitButton:hover {
    background: linear-gradient(95.63deg, #C400B9 17.83%, #5D0058 159.96%);
    box-shadow: 0px 20px 40px rgba(196, 1, 185, 0.6);
    border: 1px solid rgba(196, 1, 185, 0.6);
}