.modalOverlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  padding: 2.08vw;
}

.modalFeedbackWrapper {
  position: fixed;
  height: 100vh;
  width: 28.3vw;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #1a1f2e;
  color: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  right: 0;
  z-index: 100000;
}

.backButton {
  background: none;
  border: 1px solid rgba(255, 255, 255, 1);
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: rgba(255, 255, 255, 1);
  font-weight: 100;
}

.titleWrapper {
  margin: 2.81vw 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 25px;
  font-weight: 500;
  line-height: 35px;
}

.titlePara {
  font-size: 18px;
  font-weight: 100;
}

.feedbackForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formGroupWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2vw;
}

.formGroup {
  position: relative;
}

.label {
  color: rgba(255, 255, 255, 0.4);
  font-size: 18px;
  position: absolute;
  bottom: 15px;
  left: 0px;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input {
  width: 100%;
  padding: 15px 0;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  outline: none;
}

.input::placeholder {
  color: transparent;
}

.input:focus+.label,
.input:not(:placeholder-shown)+.label {
  display: none;
}

.input:focus {
  border-bottom: 1px solid #fff;
}

.select {
  color: rgba(255, 255, 255, 0.4);
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  transition: all 0.3s ease;
  cursor: pointer;
}

.select:focus {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.options {
  margin-bottom: 0.78vw;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  cursor: pointer;
}

.select option {
  background: #1a1f2e;
  color: rgba(255, 255, 255, 0.4);
}

.select option:checked {
  background: #e71edc;
  color: #fff;
}

.dropdownOpen {
  color: white;
  border-bottom: 1px solid white;
}

.dropdownClosed {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.dropDownClosedPara {
  color: rgba(255, 255, 255, 0.4);
}

.customSelect {
  padding: 0.5rem 0;
}

.dropDownPara {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 2.6vw 0 1vw;
}

.active {
  color: rgba(232, 30, 221, 1);
}

.error {
  color: #ff4d4f;
  font-size: 12px;
  margin-top: 5px;
  text-decoration: underline;
  position: absolute;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.submitBtn {
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
  transition: 0.5s;
}

.submitBtn {
  line-height: 22px;
  font-weight: 400;
  font-size: 16px;
  background-color: transparent;
  padding: 25px 60px;
  border-radius: 100px;
  color: #fff;
  margin-top: 40px;
  border: 1px solid white;
  cursor: not-allowed;
}

.submitBtn.active {
  color: #fff;
  background: linear-gradient(to right, #C300B8, #8c0285);
  border: 1px solid transparent;
  cursor: pointer;
}

.submitBtn.active:hover {
  box-shadow: 0px 10px 20px rgba(196, 1, 185, 0.4);
}

.submitBtn img {
  width: 16px;
  height: 16px;
}

.notification {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #E71EDC12;
  backdrop-filter: blur(20px);
  color: white;
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 14px;
}

.notificationIcon {
  width: 16px;
  height: 16px;
}
@media(max-width:1440px){
  .modalFeedbackWrapper {
    width: 57.5vw;
    left: 0;
  }
  .titleWrapper {
    margin: 30% 0 40px;
  }
  .title{
    font-size: 20px;
  }
  .submitBtn{
    padding: 15px 30px;
  }
  .backButton {
    position: absolute;
    right: 20px;
    top: 20px; 
  }
}
@media(max-width:650px){
  .modalOverlay {
    padding: 0;
  }

  .modalFeedbackWrapper {
    width: 100vw;
    height: 100vh;
    left: 0;
    padding: 20px;
  }
  .backButton {
    position: static;
  }
  .titleWrapper{
    margin: 50px 0;
  }
}