.container{
    font-family: 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 12.5vw;
    color: #ffffff;
    margin-bottom: 150px;
}

.mainContent{
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.mainContent > *{
    width: 50%;
}

.heroSectionLeft{
    margin-top: 1.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
}

.heroSectionLeft h1{
    font-weight: 700;
    font-size: 70px;
    background-image: url('/images/abstract-purple-blue-wave-background (2).png');
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heroSectionLeft p{
    font-weight: 100;
    font-size: 18px;
    line-height: 3vh;
}


.heroSectionRight img{
    width: 100%;
}

@media(max-width: 1440px){
    .heroSectionLeft h1{
        font-size: 50px;
    }

    .heroSectionLeft p{
        font-size: 14px;
    }
}