.servicesSecond {
    padding: 0px 12.5vw;
    margin-top: 150px;

}

.servicesSecondTitle {
    width: 55%;
}

.servicesSecondTitle p {
    color: #fff;
    size: 18px;
    font-weight: 100;
    margin-top: 25px;
}

.servicesSecond h2 {
    font-size: 70px;
    font-weight: 500;
    background-image: url('/images/abstract-purple-blue-wave-background (2).png');
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.servicesSecondGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px 30px;
    margin-top: 70px;
}

.servicesSecondItem {
    display: flex;
    color: #fff;
    gap: 10px;
}

.servicesSecondSharpNumber {
    margin-bottom: 5px;


}

.servicesSecondItem h4 {
    /* margin-top: 30px; */
    font-size: 25px;
    font-weight: 400;
}

.servicesSecondItem p {
    font-size: 20px;
    font-weight: 100;
    margin-top: 20px;
}