.cookieWrapper {
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1vw;
    position: fixed;
    max-width: 45vw;
    margin: 0 12.5vw;
    bottom: 13%;
    color: rgba(255, 255, 255, 1);
    z-index: 1000000;
    background-color: rgba(231, 30, 220, 0.07);
    border-radius: 30px;
    font-size: 16px;
    line-height: 26px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.cookieWrapper.visible {
    opacity: 1;
    transform: translateY(0);
}

.cookieText a {
    margin-left: 4px;
    color: rgba(232, 30, 221, 1);
}

.cookieButton button {
    background: linear-gradient(90deg, rgba(195, 0, 185, 1) 0%, rgba(93, 0, 88, 1) 100%);
    border: none;
    padding: 0.625vw 1.82vw;
    border-radius: 100px;
    color: rgba(255, 255, 255, 1);
    font-size: 15px;
    line-height: 22px;
    cursor: pointer;
}