.footer {
    /* Dark background color */
    color: #ffffff;
    /* White text */
    padding: 30px 12.5vw 30px;
    /* Top, left/right, bottom padding */
    font-weight: 100;
    border-top: 1px solid rgba(255, 255, 255, 0.5)
}

.footerWrapper {
    margin: 0 auto;
}

.footerLogoAndSocials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.footerLogo img {
    /* height: 75px; */
    width: 17.7vw;
    /* Adjust logo size as needed */
}

.footerText p {
    font-size: 18px;
    align-items: center;
    display: flex;
    margin: 0;
}

.footerSocials {
    display: flex;
    align-items: center;
}

.socialsList {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.socialsItem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialsItem a {
    display: flex;
    align-items: center;
}

.socialsItem img {
    width: 20px;
    /* Adjust icon size */
    height: 20px;
    filter: brightness(0) invert(1);
    
    /* Make icons white */
}

.footerLinks {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    /* White border */
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 20px 0;
    margin-bottom: 30px;
}

.linksList {
    display: flex;
    justify-content: left;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.linksList li a{
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    padding-right: 10px;
    /* Space between links */
}

.linksItem {
    margin-left: 10px;
    
    /* Space between links */
}

.linksList li:first-child {
    margin-left: 0;
    /* Remove border for the last item */
}

.linksItem a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}

.linksItem a:hover {
    text-decoration: underline;
}

.footerLanguages {
    display: flex;
    justify-content: center;
    font-size: 16px;
    /* width: 42.5vw; */
}

.languagesList {
    /* display: grid;
    grid-template-columns: repeat(10, auto); */
    display: flex;
    justify-content: space-between;
    grid-column-gap: 20px;
    gap: 20px;
    /* Allow wrapping for many languages */
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}
.languagesWrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 16.4vw;
}
.languagesList li {
    text-align: left;
    display: flex;
    justify-content: left;
}

.languagesList a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    text-align: left;
}

.footer a:hover {
    text-decoration: none;
    color:rgba(232, 30, 221, 1);
}
/* .footer a:hover img {
    fill: rgba(232, 30, 221, 1);
} */
.footer a::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, #C300B9 0%, #5D0058 100%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: -1;
}
.languagesList li {
    text-align: center; /* Центруємо текст у кожному <li> */
}
.footer a:hover::after {
    opacity: 1;
}
.socialsItem svg path,
.socialsItem svg g path {
    fill: #fff; /* Білий колір за замовчуванням */
}

/* При наведенні повертаємо оригінальний градієнт */
.socialsItem:hover svg path,
.socialsItem:hover svg g path {
    fill: url(#shared-gradient); /* Повертаємо оригінальний градієнт, визначений у SVG */
}

@media (max-width: 1440px) {
    .footerText p {
        font-size: 16px;
        line-height: 26px;
    }

    .linksItem a {
        font-size: 14px;
        line-height: 24px;
    }

    .languagesList a {
        font-size: 14px;
        line-height: 24px;
    }
}

@media (max-width: 1150px) {
    .footer{
        padding: 20px 0 0 0;
        margin-top: 70px;
    }
    .footerSocials{
        display: none;
        
    }
    .languagesWrapper{
        padding: 0;
        width: 100%;
        gap: 10px;
    }
    .languagesList{
        flex-wrap: wrap;
        gap: 10px;
    }
    .footerLogoAndSocials{
        margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .footerLinks{
        padding-left: 20px;
        padding-right: 20px;
    }
    .languagesWrapper{
        padding-left: 20px;
        padding-right: 20px;
    }
    .footerText p {
        font-size: 14px;
        line-height: 28px;
    }
    .footerLinks{
        white-space: nowrap;
    }
    .linksList li a{
        padding-right: 5px;
    }
    .footerLogo img{
        width: 25vw;
    }
}

@media (max-width: 650px) {
    .linksItem a {
        font-size: 11px;
        line-height: 22px;
    }
    .linksItem{
        margin-left: 5px;
    }
    .linksList{
        flex-wrap: wrap;
    }
    .languagesList a {
        font-size: 12px;
        line-height: 22px;
    }
    .footerLogo img{
        width: 33vw;
    }
    .languagesList{
        flex-wrap: wrap;
        justify-content:flex-start;
        row-gap: 10px;
        column-gap: 20px;
    }
}