.whatWeUseWrapper {
    padding: 0 12.5vw;
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    gap: 6.5vh;
}

.title {
    width: 560px;
    font-size: 70px;
    font-weight: 500;
    line-height: 80px;
    background-image: url('/images/abstract-purple-blue-wave-background (2).png');
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logosWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2vh;
}

.logoRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.logoCard {
    flex: 1;
    max-width: calc(12.5% - (1vw * 7 / 8));
    aspect-ratio: 1 / 1;
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}
.logoWrapper {
    display: flex;
    height: auto;
    width: 11.8%;
    aspect-ratio: 1 / 1;
    justify-content: center;
    align-items: center;
    background: #FFFFFF05;
    padding: 20px;
    transition: background 0.3s ease; /* Плавна анімація фону */
}

.logoWrapper .logo {
    width: auto !important;
    height: 40% !important;
    opacity: 0.4 !important;
    transition: opacity 0.3s ease; /* Плавна анімація прозорості */
}

/* При наведенні */
.logoWrapper:hover {
    background: #E81EDD;
    scale: 1.05;
}

.logoWrapper:hover .logo {
    opacity: 1 !important;
}
