.header {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color: #fff;
    padding: 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.headerTel span {
    font-family: 'Noto Color Emoji', 'Helvetica Neue', sans-serif;
}

.container {
    padding: 0 12.5vw;
}

.headerLang,.headerTel,.headerDropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.headerWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerWrapperEl {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.6vw;
    font-size: 16px;
}

.headerList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.1vw;
}

.logoImage {
    width: 12vw;
}