@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/Helvetica Neue/HelveticaNeue-Light.otf') format('otf');
    font-weight: 400; /* Regular */
    font-style: normal;
}
  
@font-face {
    font-family: 'Helvetica Neue';
    src: url('/fonts/Helvetica Neue/HelveticaNeue-Bold') format('otf');
    font-weight: 700; /* Bold */
    font-style: normal;
}

.header{
    font-family: 'Helvetica Neue', sans-serif;  
}

.container{
    padding: 0 12.5vw;
}

.headerWrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerWrapperEl{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.6vw;
    font-size: 12px;
}

.headerList{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.1vw;
}

.logoImage{
    width: 12vw;
}