.blogContentWrapper{
    margin: 30px 0 150px;
    color: white;
}

.container {
    font-family: 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0 12.5vw;
    gap: 70px;
}

.blogList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
  }
  
  .blogItem {
    background: #1a1a2b;
    padding: 20px;
    border-radius: 30px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 30px;
  }
  
  .blogItem:hover {
    transform: translateY(-5px);
  }
  
  .blogItem img {
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
  }
  
  .blogItemTextWrapper{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: start;
    width: 100%;
  }

  .blogItem h2 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 15px;
  }
  
  .blogItem p {
    font-weight: 300;
    font-size: 16px;
  }

  .blogItemMeta{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .date,
  .readMore {
    display: flex;
    align-items: center;
  }

  .readMore img{
    margin-left: 10px;
    border-radius: 0;
  }
  
  .pagination{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 25%;
    margin-top: 100px;
    border-top: 1px solid #F3F4F866;
    border-bottom: 1px solid #F3F4F866;
  }

  .pageNumbers{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: #575763;
    font-size: 20px;
    cursor: pointer;
  }

  .pageItem.active{
    color: #e81edd;
  }

  .paginationButton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    border: none;
    color: #575763;
  }

  .paginationButton.active{
    color: #ffffff;
    cursor: pointer;
  }

  .paginationButton.active span{
    padding-bottom: 1px;
    border-bottom: 1px solid #ffffff;
  }

  .footer{
    margin-top: 200px;
  }